@model ExemploValidacao.Models.Pessoa
@{
    ViewBag.Title = "Validacao de Pessoa";
}

<h2>Validacao de Pessoa</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true) <!--lista de erros que o modelo pode apresentar (true = mensagens de erros do modelo ; FALSE = msg de erro das propriedades do modelo )-->
<fieldset>
    <legend>Dados da Pessoa</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Nome)
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Observacao)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Observacao)
        @Html.ValidationMessageFor(model => model.Observacao)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Idade)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Idade)
        @Html.ValidationMessageFor(model => model.Idade)
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Login)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Login)
        @Html.ValidationMessageFor(model => model.Login)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Senha)
        </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.Senha)
        @Html.ValidationMessageFor(model => model.Senha)
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.ConfirmarSenha)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.ConfirmarSenha)
        @Html.ValidationMessageFor(model => model.ConfirmarSenha)
    </div>

    <p>
        <input type="submit" value="Cadastrar"/>
    </p>

</fieldset> 
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

